body {
  font-size: 14px;
  --color-banner: #cc4a4a;
}

.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.w {
  width: 100%;
  height: 100%;
}

/* 版心 */
.area {
  width: 1200px;
  margin: 0 auto;
}
